*{
    margin: 0;
    padding: 0;
}
.container1{
    height: 100vh;
background-color: #E7FFFF;
display: flex;
flex-direction:column;
justify-content:center;
gap: 70px;

}
h1{
    font-size: 2rem;
  color: #333333;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.container2{
    width: inherit;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.mood-btn{
    padding: 40px;
    border: 2px solid #A7C7E7;
    border-radius: 10px;
    cursor:pointer;
    transition: all 0.3s ease-out;
}

.mood-btn:hover {
   transform:scale(1.1);
    box-shadow: 0 0 10px rgba(167, 199, 231, 0.7);
  }

img{
    width: 100px;
    height: 100px;
}