*{
    margin: 0;
    padding: 0;
}
.container1{
background-color: #E7FFFF;
display: flex;
flex-direction:column;
justify-content: space-evenly;
}
h1{
    font-size: 2rem;
  color: #333333;
  margin-bottom: 30px;
}
.container2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.happy,.neutral, .sad{
    background-color: white;
    border-width: 2px;
    border-radius: 10px;
    border-color: #A7C7E7;
}